body {
  margin: 0;
  /*font-family: 'Noto Sans KR',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
  /*  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
  /*  sans-serif;*/
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y:scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type=checkbox] {
  width: 18px; /*Desired width*/
  height: 18px; /*Desired height*/
  margin:1px;
  border:2px solid #939FA5;
  border-radius: 4px;
  cursor: pointer;
}

input[type=checkbox]:checked{

  background-color: #2196F3;

}
